extends layout

block content
  h1 PRIVATE DATA
  ul
   li Ann Smith, 123 Main Street
   li Rob Jones, 425 Broadway
   li Pat O'Connor, 89 East 5th Street
   li Sue Kim, 120 High Street
   li John Li, 1200 3rd Avenue
  
