extends layout

block content
  h1 SHARED DATA
  div
   h2 Bessie
   img(src="/images/funnycow1.png", width="200")
   h2 Barton
   img(src="/images/funnycow2.png", width="200")
   h2 Donald
   img(src="/images/funnycow3.png", width="200")
   h2 Dingle
   img(src="/images/funnycow4.png", width="200")
   
